body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


.container {
	max-width: 960px;
	margin: auto;
}

.header {
	float: left;
	width: 100%;
	background-color: #ccc;
	h1 {
		float: left;
	}

	h2 {
		float: right;
		margin-left: 20px;
	}
}

.factsMenu {
	clear: both;
	float: left;
	background-color: #eee;
	width: 100%;
	div {
		float: left;
		width: 200px;
	}
	.firstLevel {
		
	}
}