<div class="factsMenu" ng-controller="FactsmenuCtrl">
	<div class="firstLevel">
		<ul>
			<li ng-repeat="item in menu.main">
				<a href="/facts/{{item.slug}}" ng-click="addSlug('{{item.slug}}', 0)">
					{{menuTitle(item)}}
				</a>
			</li>
		</ul>
	</div>
	<div class="subLevel" ng-repeat="sub in menu.levels">
		<ul>
			<li class="subItem" ng-repeat="item in sub.children">
				<a href="{{sub.slug}}/{{item.slug}}" ng-click="addSlug('{{item.slug}}', {{sub.level}})">
					{{menuTitle(item)}}
				</a>
			</li>
		</ul>
	</div>
</div>